app-xu-editor,
app-xu-viewer {
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
    width: 50%;
}
.content-editor-viewer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
}
